/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12 Nov, 2015, 7:27:36 AM
    Author     : Krunal
*/

p
{
    text-align: justify;
}

.user_reg td
{
    padding: 5px 0px;
    font-size: 13px;
    line-height: 1.5em;
}
.user_reg td:nth-child(odd)
{
    text-align: right;
    padding-left: 3px;    
}
.user_reg td:nth-child(even)
{
    text-align: left;
    padding-left: 5px;    
}